*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #2C2C2C;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1280px;
    text-align: center;

    margin: 0 auto;
    overflow: hidden;
}


/*Header section*/
.header {
    padding-top: 61px 0 50px;
}
.logo {
    color: #000000;
    font-size: 80px;
    text-align: left;

    display: block;
    margin-bottom: 38px;
}
.logo span {
    color: #4acceb;
}
.menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;

    background: #35444F;
}
.menu__item {
    border-left: 1px solid #fff;

    padding: 26px 32px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.menu__item:last-child {
    border-right: 1px solid #fff;
}
.menu__item:hover {
    background: #222F3A;
}
.menu__link {
    color: #FFFFFF;
}


/*Main section*/
.main {
    margin-top: 50px;
}
.flex-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.left-menu {
    width: 30%;
    height: 100%;

    color: #495863;
    font-size: 27px;
    text-align: left;

    border: 1px solid #000000;

    margin-right: 52px;
}
.menu-left__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}
.menu-left__item {
    padding: 26px 0 26px 44px;

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.menu-left__item:hover {
    background: #DBDBDB;
    padding-left: 65px;
}
.main-content {
    width: 70%;
}
.main-content .img-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    width: 100%;
    height: 529px;
    overflow: hidden;

    border: 1px solid #000000;
}
.main-content__img {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.img-wrapper:hover .main-content__img{
    transform: scale(1.1);
}

.main-content__img {
    max-height: 500px;
    max-width: 800px;
}
.subtitle-wrapper {
    margin-top: 37px;
}
.subtitle {
    line-height: 24px;
    text-align: left;
}
.subtitle + .subtitle {
    margin-top: 34px;
}


/*Footer section*/
.footer {
    margin-top: 51px;
    padding-bottom: 30px;
}
.footer-wrapper {
    background: rgba(99, 105, 110, 0.48);
}
.space-between-wrapper {
    height: 69px;

    padding: 0 40px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.footer__menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

}

.footer__menu-item + .footer__menu-item {
    margin-left: 15px;
}
.footer__menu-link {
    color: #0C1927;
    font-size: 28px;

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.footer__menu-link:hover {
    color: #37899d;
    border-bottom: 1px solid #37899d;

    padding-bottom: 5px;
}
.copyright {
    font-size: 24px;
    color: #010101
}
