*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #373737;
    text-decoration: none;
}

body {
    color: #373737;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;

    background: rgba(0, 0, 0, 0.001);
}
.container {
    max-width: 1145px;
    text-align: center;

    margin: 0 auto;
}


/*Header secton*/
.header {
    padding: 25px 0;
}
.nav__item {
    display: inline-block;
}
.nav__item + .nav__item {
    margin-left: 72px;
}
.nav__link {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.nav__link:hover {
    color: #FF0000;
}


/*Main section*/
.main-section {
    padding-bottom: 42px;
}
.title {
    text-transform: uppercase;
    font-weight: 600;

    padding-top: 48px;
}
.subtitle-wrapper {
    margin: 38px 0 66px;
}
.subtitle {
    color: #373737;
    line-height: 26px;
}
.subtitle + .subtitle {
    margin-top: 28px;
}
.button {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;

    width: 191px;
    height: 51px;

    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.8px;

    background: #FF0000;
    border-radius: 4px;

    margin: 0 auto;
}


/*Footer section*/
.footer {
    padding: 40px 0 29px ;
}
.footer__copyright {
    font-weight: 600;
    text-align: right;

    padding-right: 50px;
}
